<div id="vueApp" class="m-1">
  <div v-if="isLoading" class="alert alert-secondary text-center">
    <table class="mx-auto">
      <tr>
        <td class="align-middle">
          {{ loadingMessage }}
        </td>
        <td>
          <div class="spinner-border" role="status">
            <span class="sr-only"></span>
          </div>
        </td>
      </tr>
    </table>
  </div>

  <template v-if="!isLoading">
    <div v-for="repeat in [false, true]">
      <template v-if="!repeat || showBottomSearch &amp;&amp; pageRecords.length">
        <div style="display: flex; flex-direction: row; gap: 1em; flex-wrap: wrap; justify-content: center; align-items: center;">
          <div style="flex-grow: 1;">
            <label class="input-group m-0">
              <div class="input-group-prepend">
                <span class="input-group-text">{{ searchTermsLabel }}</span>
              </div>
              <input
                type="text"
                class="form-control"
                v-model="searchTerms"
                v-bind:placeholder="searchTermsPlaceholder"
              />
            </label>
          </div>
          <div v-if="pageCount &gt; 1">
            <nav style="user-select: none;">
              <ul class="pagination justify-content-center m-0">
                <li v-for="page in pagination" v-bind:class="'page-item' + (pageNumber === page.number ? ' active' : '')">
                  <a class="page-link" href="javascript:;" v-on:click="pageNumber = page.number">{{ page.number }}</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </template>

      <div v-if="!repeat" class="my-3">
        <div v-if="pageCount === 0" class="alert alert-warning text-center">{{ noResultsMessage }}</div>
        
        <ol v-bind:start="pageRecordsStartIndex + 1">
          <li v-for="record in pageRecords">
            <b><a v-bind:href="record.url" v-bind:target="anchorTarget">{{ record.title }}</a></b>
            <template v-if="record.description"><br />{{ record.description }}</template>
            <div style="color: #0006; font-family: monospace; font-size: 0.8em; font-style: italic;">{{ record.url }}</div>
          </li>
        </ol>
      </div>
    </div>
  </template>
</div>
